
.register-box{
	border: 1px solid #EEE;
	box-shadow:0 0 3px #EEE;
	padding-top:10px;
	margin-bottom:10px;
}

#first-row{
	margin:0px 10px;
}

.toggle-box-row{
	margin: 0px 10px;
	margin-bottom: 15px;
}

.toggle-box-row div{
	padding: 0px 2%;
}

.toggle-box{
	background-color: #EEE;
}