
.addForm .register-box{
	border: 1px solid #EEE;
	box-shadow:0 0 3px #EEE;
	padding-top:10px;
	margin-bottom:10px;
}

.addForm #first-row{
	margin:0px 10px;
}

.addForm .toggle-box-row{
	margin: 0px 10px;
	margin-bottom: 15px;
}

.addForm .toggle-box-row div{
	padding: 0px 2%;
}

.addForm .toggle-box{
	text-align: center;
	vertical-align: middle;
}

.addForm .toggle-button-off{
	background-color: #86dcff;
}

.addForm .toggle-button-off:hover{
	box-shadow:0 0 3px #86dcff;
}

.addForm .toggle-button-on{
	background-color: #0275d8;
}

.addForm .toggle-button-on:hover{
	box-shadow:0 0 3px #0275d8;
}