.scheduleInfo .info-box{
	text-align: center;
	vertical-align: middle;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	color: white;
	font-size: small;
}

.scheduleInfo #first-row{
	margin:0 10px;
}

.scheduleInfo .info-box-row{
	margin:0 10px;
}

.scheduleInfo .info-box-row > div{
	padding:0;
}

.scheduleInfo .info-box-row .divide{
	color:black;
}