.body #reset-schedule{
	margin-bottom: 10px;
}

.body #add-subject{
	margin-bottom: 10px;
}

.body tbody th{
	font-weight: normal;
	color: #5b5b5b;
}

.body #paginationBox{
	float:right;
}

.body #convertSchedule{
	float:right;
}
