.navbar{
    margin-bottom: 0px;
}

.sidemenu #title{
    font-size: 30px;
    margin: 12px 0px;
}

.sidemenu #title a{
    text-decoration: none;
    color:#666;
}

.sidemenu .breadcrumbs{
    margin-bottom: 20px;
    border-bottom: 1px solid #AAAAAA;
}

.sidemenu .breadcrumbs ul{
    margin-top: 11px;
    margin-bottom: 10px;
}
