@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400);

header{
	font-family: 'Source Sans Pro', 'sans-serif';
}

.navbar{
    background-color: #fff;
    border:none;
    padding-bottom:10px;
    font-weight:500;
    font-size:18px;
    height:70px;
    text-transform: capitalize;
    border-bottom:1px solid #AAAAAA
}

.navbar-toggle{
    position:relative;
    margin-top:20px;
    top:2px;
}

.navbar-nav{
    padding-right:10px;
    margin-top:10px;
    background-color:#fff;
}

.navbar-nav li{
    margin:0 20px;
}

.navbar-nav li a{
	padding:25px 15px 5px 15px;
}

header .navbar-brand{
	position:relative;
	top:-25px;
}

header .topbar{
	position:relative;
}

.login-bar{
	float:right!important;
	margin:0px;
}

.login-bar li{
	list-style-type:none;
	display:inline;
	margin-right:5px;
}

.login-bar li a{
	font-size:11px;
}