.registerForm .register-box{
	border: 1px solid #EEE;
	box-shadow:0 0 3px #EEE;
	padding-top:10px;
	margin-bottom:10px;
}

.registerForm .reg-header{
	color: #555;
    text-align: center;
    margin-bottom: 35px;
    border-bottom: solid 1px #eee;
}