.content-box{
	border: 1px solid #EEE;
	box-shadow:0 0 3px #EEE;
	margin-bottom:10px;
	padding: 10px 15px;
	margin-bottom: 15px;
}

.content-box .reg-header{
	color: #555;
    text-align: center;
    margin-bottom: 35px;
    border-bottom: solid 1px #eee;
}